{% extends "accounts/base.html" %}

{% block content %}
<div class="text-center mb-5">
  <a class="btn btn-sm btn-dark shadow-lg" href="{% url 'dashboard' %}">Go Back</a>
  </div>
<div class="container">
  <div class="row mb-5">
    <div class="card shadow-lg" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Customer Information:</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          <strong>Name: </strong>{{customer.name}}
        </h6>
        <p class="card-text">Email: {{customer.email}}</p>
        <p class="card-text">Phone: {{customer.phone}}</p>
        <a href="#" class="card-link">Update</a>
        <a href="#" class="card-link">Delete Customer</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <h5 class="card-title text-center">Total Orders</h5>
          <hr>
          <p class="card-text text-center">{{order_count}}</p>
        </div>
      </div>
    </div>

  </div>
  <div class="m-5">
  <a class="btn btn-sm btn-outline-primary shadow-lg" href="{% url 'order-create' customer.id %}">Place Order For This Customer</a>  
  <hr>
  </div>

  <div class="row">
    <div class="col">
      <div class="card card-body">
        <form method="get">
          {{ myFilter.form.as_p }}
          <button type="submit" class="btn btn-outline-primary btn-sm"> Search </button>
        </form>
      </div>
    </div>
</div>
  <table class="table border-black table-bordered">
    <thead class="table-black table-dark">
      <tr class="shadow-lg">
        <th scope="col">Product</th>
        <th scope="col">Category</th>
        <th scope="col">Date Ordered</th>
        <th scope="col">status</th>
        <th scope="col">Update</th>
        <th scope="col">Remove</th>

      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{order.product}}</td>
        <td>{{order.product.category}}</td>
        <td>{{order.date_created}}</td>
        <td>{{order.status}}</td>
        <td><a>button</a></td>
        <td><a>button</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
